<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <{if $layout.asideMenu}>
                <{foreach $layout.asideMenu as $menuItem}>
                    <{if $menuItem.subMenu neq null}>
                        <li class="treeview">
                            <a href="javascript:;">
                                <i class="fa fa-<{$menuItem.icon}>"></i>
                                <span><{$menuItem.menu}></span>
                                <{if $menuItem.subMenu != null}>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                <{/if}>
                            </a>

                            <ul class="treeview-menu">
                                <{foreach $menuItem.subMenu as $subMenuItem}>
                                <li><a href="<{$subMenuItem.path}>"><i class="fa fa-circle-o"></i> <{$subMenuItem.menu}></a></li>
                                <{/foreach}>
                            </ul>
                        </li>
                    <{else}>
                        <li>
                            <a href="<{$menuItem.path}>">
                                <i class="fa fa-<{$menuItem.icon}>"></i>
                                <span><{$menuItem.menu}></span>
                            </a>
                        </li>
                    <{/if}>
                <{/foreach}>
            <{/if}>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>