<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            {if $layout.asideMenu}
                {foreach $layout.asideMenu as $menuItem}
                    <li class="active treeview">
                        {if $menuItem.path neq ""}
                        <a href="{$menuItem.path}" >
                        {else}
                        <a hre="#">
                        {/if}
                            <i class="fa fa-{$menuItem.icon}"></i> <span>{$menuItem.menu}</span>
                            {if $menuItem.subMenu}
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            {/if}
                        </a>

                        {if $menuItem.subMenu}
                            {foreach $menuItem.subMenu as $subMenuItem}
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{$subMenuItem.path}"><i class="fa fa-circle-o"></i> {$subMenuItem.menu}</a></li>
                                </ul>
                            {/foreach}
                        {/if}
                    </li>
                {/foreach}
            {/if}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>