</div>

<!-- file upload modal -->
<div class="modal fade" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg" id="fileUploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="uploader" class="wu-example">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div id="filePicker"></div>
                            <p>或将照片拖到这里，单次最多可选300张</p>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div><div class="info"></div>
                        <div class="btns">
                            <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017-2018 joker.</strong> All rights reserved.
</footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{$layout.base_url}public/javascript/jquery-3.2.1.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{$layout.base_url}public/javascript/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{$layout.base_url}public/javascript/adminlte.min.js"></script>
<!-- handlebars.js -->
<!--<script src="{$layout.base_url}public/javascript/handlebars-v4.0.11.js"></script>-->
<!-- baidutemplate.js -->
<script src="{$layout.base_url}public/javascript/baidutemplate.js"></script>
<!-- webuploader.js -->
<script src="{$layout.base_url}public/javascript/webuploader.min.js"></script>
<!-- upload js -->
<script src="{$layout.base_url}public/javascript/upload.js"></script>
<!-- app js -->
<script src="{$layout.base_url}public/javascript/admin/admin.js"></script>
</body>
</html>